/*--footer start here--*/
.footer {
    padding: 13px 0px;
    background-color: #6CB6B6;
}
.footer-main p {
    font-size: 13px;
    font-weight: 400;
    color: #fdfbff;
    text-align: center;
}
.footer-main p a{
    font-size: 16px;
    font-weight: 400;
    color:#00aee1;
}
.footer-main p a:hover{
    text-decoration:none;
    color:#000;
}
@media (max-width:320px){
    .footer-main p {
        font-size: 12px;
    }
    .footer-main p a{
        font-size: 12px;
    }
}
/*--footer end here--*/